@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue: #39537e;
    --purple: #32398b;
    --purple2: #32398b9a;
    --blue2: #78acca; 
    --blue3: #2a92c4;
    --black: rgba(68, 68, 68, 0.783);
    --black2: #444;
    --light-color: #777;
    --bg-color: #f3f4f5;
    --border: .1rem solid rgba(134, 133, 133, 0.119);
    --box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
                -.4rem -.4rem 1rem #fff inset;


}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box ;
    outline:none;
    border:none;
    text-decoration:none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    padding-left: 30rem;
}

.heading{
    padding-top: 3%;
    font-size: 4rem;
    padding-bottom: 1rem;
    color: var(--purple);
    margin-bottom: 5rem;
    text-align: center;

}

.heading span{
    color: var(--blue2);
}

/* ------------------------------------------ */
#menu-bars{
    position: fixed;
    top: 2rem;
    right:15rem;
    z-index:10000;
    color: var(--purple);
    box-shadow: var(--box-shadow);
    padding:1rem 1.5rem;
    font-size:3rem ;
    border-radius: .5rem;
    cursor: pointer;
    display: none;


}
/* ------------------------------------------ */

/* -------------------Sidebar----------------------- */

.header{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    z-index: 999;
    background: var(--bg-color);
    width:25rem;
    border-right: var(--border);
    padding:0rem 2rem;
    text-align: center;
    display: flex;
    flex-flow:column;
    justify-content:space-around;

}

.header .logo img{
    padding-right: 10px;
    padding-left: 10px;
    height:6rem;
    width: auto;
    opacity: 0.6;
    /* box-shadow: var(--box-shadow);
    border-radius: 5rem; */
}


.header .navbar a{
    display:block;
    margin: 2.2rem 0;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 500;
    /* box-shadow: var(--box-shadow); */
    color: var(--black);
}

.header .navbar a:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--blue2);
  
}

.header #social a{
    color: var(--black);
    font-size: 2.5rem;
    margin:0 .7rem;
    opacity: 0.7;

    
}

.header #social a:hover{
    color: var(--blue2);
  
}
/* ------------------------------------------ */

/* -----------------Home------------------------- */


section{
    padding: 1rem 5%;
}

.home{
    position:relative;
    height: 100vh;
    overflow:hidden;
    display: flex;
    
}

.home .content{
    flex: 1 1 50rem;
    padding-top: 18%;
    padding-right: 3rem;
}

.home .content .hi{
    font-size: 2rem;
    color: var(--black2);
}

.home .content h2{
    font-size: 4rem;
    color: var(--black2);
    text-transform: uppercase;
}

.home .content h2 span{
    font-size: 4rem;
    color:var(--blue2);
   
}

.home .content .info{
    font-size: 2.5rem;
    padding: .5rem 0;
    color: var(--black2);
  
}

.home .content .text{
    font-size: 1.7rem;
    padding: .5rem 0;
    color: var(--black);
    width: 90%;
}


.btn{
    display: inline-block;
    margin-top: 4rem;
    padding: .8rem 3rem;
    background: var(--purple);
    color: #fff;
    font-size: 1.7rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);

}

.btn:hover{
    color: var(--blue2);
    background: #fff;
    box-shadow: var(--box-shadow-inset);
}

/* image part */

.img{
    flex: 1 1 50rem;
    position:relative;
    width: 650px;
    height:650px;
    background: radial-gradient(450px, #78acca, transparent 55%);
    
}

#image-hero{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 55%;
    z-index: 1;
    opacity: 0.8;
}

#skills-icons{
    z-index: 7;
    height:100%;
    animation: rotation 40s linear infinite;
}
@keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}

#skills-icons div{
    position: absolute;
}

#skills-icons div i{
    font-size: 3rem;
    color: var(--blue2);
    /* opacity: 0.4; */
}

#skills-icons div:nth-child(1){
    top:10%;
    left:42%;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(2){
    top:35%;
    right:5%;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(3){
    top:80%;
    left:70%;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(4){
    top:35%;
    left:0;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(5){
    top:75%;
    left:10%;
    animation: rotation 5s linear infinite;
}





/* ----------------------------------------------- */

/* -----------------About------------------------- */
#about-heading{
    text-align: left;
}

.about-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-part{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    
    
}

.about-content{
    flex:2;
    font-size: 1.3rem;
    text-align:justify;
    text-justify:inter-word;
}

.about-image{
    flex: 1;
    position:relative;
    width: 150px;
    height:150px;
    
}

@keyframes aboutImage{
    0%, 100%{
        transform: scale(.9);
        border-radius: 20%;
    }
    50%{
        transform: scale(.8);
        border-radius: 70%;
        opacity:1;
    }
}



.about-image img{
    position: absolute;
    width: 200px;
    height: auto;
    top:-30%;
    right:15%;
    border-radius: 50%;
    animation: aboutImage 4s linear infinite;
    opacity: 0.6;
}

#introduce-image, #education-image, #hobby-image{
    display:none;
}
/* --------------------------------------------------- */
/* -------------------Education----------------------- */

#education{
    margin-top:6%;
    margin-bottom: 10%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #education-heading{
    margin-bottom: 5rem;
} */

.education .box-container{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}



.education .box-container .line{
    border-left: .2rem solid var(--blue2);
    height:7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
    transform: translateX(50%);
   
}

/* .education .box-container .box::before{
    content:'';
    position: absolute;
    top:0;
    left:-1rem;
    height:2rem;
    width:2rem;
    border-radius: 20%;
    background: var(--blue2);
} */


.education .box-container .box .content{
    background: rgba(255, 255, 255, 0.61);
    padding:1.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.education .box-container .box .content span{
    color: #ffff;
    font-size: 1rem;
    background: var(--blue2);
    border-radius: 5%;
    padding:.4rem 1rem;

}

.education .box-container .box .content h3{
    font-size: 1.7rem;
    padding:.5rem 0;
    color: var(--black2);

}
/* ------------------------------------------------ */
/* -------------------Skills----------------------- */

#skills-container{
    flex-wrap: wrap;
    display: flex;
    gap:7rem;
    margin-top: 5rem;
    margin-bottom: 20rem ;
}

#skills-container div{
    text-align: center;
    
}

#skills-container img{
    display: block;
    height: 8rem;
    width: auto;
    margin-bottom: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
}

#skills-container img:hover{
    transform: scale(150%);
   
}
/* ------------------------------------------------- */
/* --------------------Project---------------------- */

#project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.project .row{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap:1.5rem;
    /* border: 1px solid rgba(119, 119, 119, 0.408); */
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    margin-bottom: 2rem;
    width: 550px;
    

}

.project .row .content{
    text-align:center;
}

.project .row .content h3{
    color: var(--black2);
    font-size: 2.5rem;
}

.project .row .content p{
    color: var(--light-color);
    font-size: 1.4rem;
    width: 300px;
    padding-bottom: 2rem;
    text-align:justify;
    text-justify:inter-word;
}

.project .row .image-slider{
    /* flex:1 1 40rem; */
    /* text-align: center; */
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.project .row .image-slider a img{
    width:50rem;
    height: auto;
}

.project .row .image-slider .monitor{
    width:52rem;
}

/* .swiper-button-next, .swiper-button-prev{
    color: var(--light-color)
} */


/* ------------------------------------------------- */
/* ---------------------Contact--------------------- */
#contact-heading{
    text-align: left;
}

.contact .row{
display: flex;
flex-wrap: wrap;
gap:2rem;

}

.contact-info-container{
    width: 30rem;
    margin-top: 1rem;
}

.contact-info-container .box{
    margin-bottom: 6rem;
    display: flex;
    gap:1.5rem;
}

.contact-info-container .box i{
    height:5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 1.7rem;
    background: var(--purple);
    color:#ffff;
    border-radius: 0.5rem;
    text-align: center;

}

.box .info h3{
    font-size: 1.6rem;
}

.box .info p{
    color:var(--light-color)
}

form{
    flex:1;
    text-align: center;
}

.inputBox{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

input{
    width:49%;
}

#input-subject{
    width: 100%;
}

.inputBox input, textarea{
    padding:1.4rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.1);
    color: var(--black2);
    margin:.7rem 0;
    font-size: 1.6rem;
    border-radius: 0.5rem;

}

textarea{
    width: 100%;
    resize: none;
    height: 15rem;
}

/* ------------------------------------------------- */


/* ------------- scroll to top ---------------------- */

.scrollTop{
    position:fixed;
    bottom:30px;
    right:30px;
    padding: 10px 15px;
    background-color: var(--blue2);
    color:#fff;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease 0s
}

.scrollTop:hover{
    background-color: var(--purple);
}












/* media queries */
@media (max-width:450px){
    html{
        font-size: 50%;
       
    }

    body{
        padding:0;

    
    }

    section{
        margin:5%;
    }

    #menu-bars{
        display:initial;
    }


    .header{
        left:-100%;

    }

    .header.active{
        left:-0px;
        border-right: none;

    }

    .header .navbar a{
  
        box-shadow: none;
       
    }

    .home{
        align-items: center;
        flex-direction: column-reverse;
    }

    .home .content{
        text-align: center;
        padding: 5%;
    }

    .home .content .text{
        
        width: 100%;
    }

    .img{

        margin-top: 15%;
        width: 400px;
        height:400px;
        background: radial-gradient(250px, #78acca, transparent 55%);
        
        
    }
    
    #image-hero{

        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 40%;

    }

  
    /* #skills-icons{
        display: none;
    } */

    #skills-icons div:nth-child(1){
        top:8%;
        left:50%;
       
    }
    
    #skills-icons div:nth-child(2){
        top:35%;
        right:20%;
     
    }
    
    #skills-icons div:nth-child(3){
        top:75%;
        left:70%;
       
    }
    
    #skills-icons div:nth-child(4){
        top:35%;
        left:20%;
        
    }
    
    #skills-icons div:nth-child(5){
        top:75%;
        left:25%;
        
    }

    /* about */

    #about-heading{
        text-align: center;
    }


    .about-part{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        
        
    }
    
    .about-content{
        font-size: 1.3rem;
        text-align:justify;
        text-justify:inter-word;
    }
    
    .about-image{
        display: none;
        
    }

    #introduce-image, #education-image, #hobby-image{
        display:block;
        width:200px;
        margin-bottom: 2rem;
        height:auto;
        border-radius: 50%;
        animation: aboutImage 4s linear infinite;
        opacity: 0.6;

    }

    @keyframes aboutImage{
        0%, 100%{
            transform: scale(.9);
            border-radius: 20%;
        }
        50%{
            transform: scale(.8);
            border-radius: 70%;
            opacity:1;
        }
    }



 




  /* education */

    .education .box-container{
        width: 250px;
        gap: .5rem;
    }

    /* skills */

    #skills-container{
        gap:3rem;
        margin-right: 10%;
        margin-left: 10%;
       
    }



    .project .row{
        width:300px;
    }
    .project .row .content p{
        
        width: 250px;
      
    }

    .project .row .image-slider a img{
        width:35rem;
        height: auto;
    }

    /* contact */

    #contact-heading{
        text-align: center;
    }


    .contact .row form .inputBox input{
        width:100%;
    }

    .contact-info-container{
        margin-top: 5rem;
       margin-right: 20%;
       margin-left:20%;
    }


    .scrollTop{

        bottom:30px;
        right:100px;
        z-index: 10000;
      
    }




    
}
