@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
    --blue: #39537e;
    --purple: #32398b;
    --purple2: #32398b9a;
    --blue2: #78acca; 
    --blue3: #2a92c4;
    --black: rgba(68, 68, 68, 0.783);
    --black2: #444;
    --light-color: #777;
    --bg-color: #f3f4f5;
    --border: .1rem solid rgba(134, 133, 133, 0.119);
    --box-shadow: .4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
                -.4rem -.4rem 1rem #fff inset;


}

*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box ;
    outline:none;
    border:none;
    text-decoration:none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    background: var(--bg-color);
    padding-left: 30rem;
}

/* ------------------------------------------ */
#menu-bars{
    position: fixed;
    top: 1rem;
    right:1rem;
    z-index:10000;
    color: var(--purple);
    box-shadow: var(--box-shadow);
    padding:1rem 1.5rem;
    font-size:3rem ;
    border-radius: .5rem;
    cursor: pointer;
    display: none;


}
/* ------------------------------------------ */

/* -------------------Sidebar----------------------- */

.header{
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    z-index: 999;
    background: var(--bg-color);
    width:25rem;
    border-right: var(--border);
    padding:0rem 2rem;
    text-align: center;
    display: flex;
    flex-flow:column;
    justify-content:space-around;

}

.header .logo img{
    padding-right: 10px;
    padding-left: 10px;
    height:6rem;
    width: auto;
    opacity: 0.6;
    /* box-shadow: var(--box-shadow);
    border-radius: 5rem; */
}


.header .navbar a{
    display:block;
    margin: 2.2rem 0;
    padding: .5rem;
    border-radius: .5rem;
    font-size: 2rem;
    font-weight: 500;
    box-shadow: var(--box-shadow);
    color: var(--black);
}

.header .navbar a:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--blue2);
  
}

.header #social a{
    color: var(--black);
    font-size: 2.5rem;
    margin:0 .7rem;
    opacity: 0.7;

    
}

.header #social a:hover{
    color: var(--blue2);
  
}
/* ------------------------------------------ */

/* -----------------Home------------------------- */


section{
    padding: 1rem 5%;
}

.home{
    position:relative;
    height: 100vh;
    overflow:hidden;
    display: flex;
    
}

.home .content{
    flex: 1 1 50rem;
    padding-top: 18%;
    padding-right: 3rem;
}

.home .content .hi{
    font-size: 2rem;
    color: var(--black2);
}

.home .content h2{
    font-size: 4rem;
    color: var(--black2);
    text-transform: uppercase;
}

.home .content h2 span{
    font-size: 4rem;
    color:var(--blue2);
   
}

.home .content .info{
    font-size: 2.5rem;
    padding: .5rem 0;
    color: var(--black2);
  
}

.home .content .text{
    font-size: 1.7rem;
    padding: .5rem 0;
    color: var(--black);
    width: 85%;
}


.btn{
    display: inline-block;
    margin-top: 4rem;
    padding: .8rem 3rem;
    background: var(--blue3);
    color: #fff;
    font-size: 1.7rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);

}

.btn:hover{
    color: var(--blue2);
    background: #fff;
    box-shadow: var(--box-shadow-inset);
}

/* image part */

.img{
    flex: 1 1 50rem;
    position:relative;
    margin-top: 8%;
    width: 550px;
    height:550px;
    background: radial-gradient(450px, #78acca, transparent 55%);
    
}

#image-hero{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 55%;
    z-index: 1;
    opacity: 0.8;
}

#skills-icons{
    z-index: 7;
    height:100%;
    animation: rotation 40s linear infinite;
}
@keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}

#skills-icons div{
    position: absolute;
}

#skills-icons div i{
    font-size: 6rem;
    color: var(--blue2);
    opacity: 0.4;
}

#skills-icons div:nth-child(1){
    top:10%;
    left:42%;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(2){
    top:35%;
    right:5%;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(3){
    top:80%;
    left:70%;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(4){
    top:35%;
    left:0;
    animation: rotation 5s linear infinite;
}

#skills-icons div:nth-child(5){
    top:75%;
    left:10%;
    animation: rotation 5s linear infinite;
}





/* ----------------------------------------------- */

/* -----------------About------------------------- */
/* --------------------------------------------------- */
/* -------------------Education----------------------- */
/* ------------------------------------------------ */
/* -------------------Skills----------------------- */
/* ------------------------------------------------- */
/* --------------------Project---------------------- */
/* ------------------------------------------------- */
/* ---------------------Contact--------------------- */
/* ------------------------------------------------- */

















/* media queries */
@media (max-width:991px){
    html{
        font-size: 55%;
       
    }

    body{
        padding:0;

    
    }

    #menu-bars{
        display:initial;
    }


    .header{
        left:-120%;

    }

    .header.active{
        left:-0px;
        border-right: none;

    }

    .header .navbar a{
  
        box-shadow: none;
       
    }

    .img{
        display:none;
    }
}
